## Iowa Housing Prices
The goal is to predict housing prices in Iowa.

### Question
How will future prices change?

### Features
- 'Id'
- 'MSSubClass'
- 'MSZoning'
- 'LotFrontage'
- 'LotArea'
- 'Street'
- 'Alley'
- 'LotShape'
- 'LandContour'
- 'Utilities'
- 'LotConfig'
- 'LandSlope'
- 'Neighborhood'
- 'Condition1'
- 'Condition2'
- 'BldgType'
- 'HouseStyle'
- 'OverallQual'
- 'OverallCond'
- 'YearBuilt'
- 'YearRemodAdd'
- 'RoofStyle'
- 'RoofMatl'
- 'Exterior1st'
- 'Exterior2nd'
- 'MasVnrType'
- 'MasVnrArea'
- 'ExterQual'
- 'ExterCond'
- 'Foundation'
- 'BsmtQual'
- 'BsmtCond'
- 'BsmtExposure'
- 'BsmtFinType1'
- 'BsmtFinSF1'
- 'BsmtFinType2' 
- 'BsmtFinSF2'
- 'BsmtUnfSF'
- 'TotalBsmtSF'
- 'Heating'
- 'HeatingQC'
- 'CentralAir'
- 'Electrical'
- '1stFlrSF'
- '2ndFlrSF'
- 'LowQualFinSF'
- 'GrLivArea'
- 'BsmtFullBath'
- 'BsmtHalfBath'
- 'FullBath'
- 'HalfBath'
- 'BedroomAbvGr'
- 'KitchenAbvGr'
- 'KitchenQual'
- 'TotRmsAbvGrd'
- 'Functional'
- 'Fireplaces'
- 'FireplaceQu'
- 'GarageType',
- 'GarageYrBlt'
- 'GarageFinish'
- 'GarageCars'
- 'GarageArea'
- 'GarageQual'
- 'GarageCond'
- 'PavedDrive'
- 'WoodDeckSF'
- 'OpenPorchSF',
- 'EnclosedPorch'
- '3SsnPorch'
- 'ScreenPorch'
- 'PoolArea'
- 'PoolQC',
- 'Fence'
- 'MiscFeature'
- 'MiscVal'
- 'MoSold'
- 'YrSold'
- 'SaleType'
- 'SaleCondition'
- 'SalePrice'

In [35]:
import pandas as pd
import numpy as np
import matplotlib

%matplotlib inline

In [36]:
iowa_data = pd.read_csv("dataset/iowa_data.csv")

### >> -- EDA -- <<

In [37]:
iowa_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1452 non-null   object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [38]:
iowa_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [39]:
iowa_data.tail()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [40]:
iowa_data.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [41]:
# because we want to predict the prices of homes in Iowa, this will be our target variable
y = iowa_data.SalePrice

In [42]:
iowa_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1452 non-null   object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [43]:
# next we will look at potential features for the target
target_features = ["LotArea", "YearBuilt", "1stFlrSF", "2ndFlrSF", "FullBath", "BedroomAbvGr", "TotRmsAbvGrd"]
x = iowa_data[target_features]

x.head()

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
0,8450,2003,856,854,2,3,8
1,9600,1976,1262,0,2,3,6
2,11250,2001,920,866,2,3,6
3,9550,1915,961,756,1,3,7
4,14260,2000,1145,1053,2,4,9

In [44]:
x.describe()

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
count,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,10516.828082,1971.267808,1162.626712,346.992466,1.565068,2.866438,6.517808
std,9981.264932,30.202904,386.587738,436.528436,0.550916,0.815778,1.625393
min,1300.000000,1872.000000,334.000000,0.000000,0.000000,0.000000,2.000000
25%,7553.500000,1954.000000,882.000000,0.000000,1.000000,2.000000,5.000000
50%,9478.500000,1973.000000,1087.000000,0.000000,2.000000,3.000000,6.000000
75%,11601.500000,2000.000000,1391.250000,728.000000,2.000000,3.000000,7.000000
max,215245.000000,2010.000000,4692.000000,2065.000000,3.000000,8.000000,14.000000

### >> -- Build Model -- <<

In [45]:
from sklearn.tree import DecisionTreeRegressor

In [46]:
# create model
iowa_model = DecisionTreeRegressor(random_state = 1)

In [47]:
# fit model
iowa_model.fit(x, y)

DecisionTreeRegressor(random_state=1)

#### >> Predictions <<

In [48]:
print("Predictions for the following houses: ")
x.head()

Predictions for the following houses:

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
0,8450,2003,856,854,2,3,8
1,9600,1976,1262,0,2,3,6
2,11250,2001,920,866,2,3,6
3,9550,1915,961,756,1,3,7
4,14260,2000,1145,1053,2,4,9

#### -> In- Sample <-

In [49]:
# using the selected features, make a prediction.
model_prediction = iowa_model.predict(x.head())

print("Price predictions: ")
print(model_prediction)

Price predictions:
[208500. 181500. 223500. 140000. 250000.]

In [50]:
# actual home prices for the above homes
print("Actual home prices: ")
y.head().tolist()

Actual home prices:

[208500, 181500, 223500, 140000, 250000]

### >> Observation <<
Note that the actual prices of the homes (y) and the model's predicted price of the homes (x) are the same.

Let's check the accuracy of the results!

## >> -- Model Validation -- <<
### -> Out of Sample <-

In [51]:
from sklearn.model_selection import train_test_split

In [52]:
# split data into train-test
train_x, val_x, train_y, val_y = train_test_split(x, y, random_state = 1)

In [53]:
# new model for sample verification
iowa_model = DecisionTreeRegressor(random_state = 1)

# Fit iowa_model with the training data.
iowa_model.fit(train_x, train_y)

DecisionTreeRegressor(random_state=1)

In [54]:
val_predictions = iowa_model.predict(val_x)
print(val_predictions)

[186500. 184000. 130000.  92000. 164500. 220000. 335000. 144152. 215000.
 262000. 180000. 121000. 175900. 210000. 248900. 131000. 100000. 149350.
 235000. 156000. 149900. 265979. 193500. 377500. 100000. 162900. 145000.
 180000. 582933. 146000. 140000.  91500. 112500. 113000. 145000. 312500.
 110000. 132000. 305000. 128000. 162900. 115000. 110000. 124000. 215200.
 180000.  79000. 192000. 282922. 235000. 132000. 325000.  80000. 237000.
 208300. 100000. 120500. 162000. 153000. 187000. 185750. 335000. 129000.
 124900. 185750. 133700. 127000. 230000. 146800. 157900. 136000. 153575.
 335000. 177500. 143000. 202500. 168500. 105000. 305900. 192000. 190000.
 140200. 134900. 128950. 213000. 108959. 149500. 190000. 175900. 160000.
 250580. 157000. 120500. 147500. 118000. 117000. 110000. 130000. 148500.
 148000. 190000. 130500. 127000. 120500. 135000. 168000. 176432. 128000.
 147000. 260000. 132000. 129500. 171000. 181134. 227875. 189000. 282922.
  94750. 185000. 194000. 159000. 279500. 290000. 135000. 299800. 165000.
 394432. 135750. 155000. 212000. 310000. 134800.  84000. 122900.  80000.
 191000. 755000. 147000. 248000. 106500. 145000. 359100. 145000. 192500.
 149000. 252000. 109000. 215000. 220000. 138500. 185000. 185000. 120500.
 181000. 173000. 335000.  67000. 149350.  67000. 156000. 119000. 110500.
 184000. 147000. 156000. 171000. 177000. 159000. 125000. 105000. 284000.
 167500. 200000. 312500. 213000. 135960. 205000. 237000. 107000. 163000.
 132500. 155835. 165500. 138500. 257000. 160000. 394617. 281213. 161000.
 127500.  88000. 139000.  89500. 132500. 134800. 335000. 248900. 155000.
 147000.  86000. 185000. 200000. 180500. 215200. 319900. 105000. 194000.
 340000. 256000. 280000. 186500. 105500. 155000. 133500. 255500. 253000.
 130000.  92900. 256000. 100000. 755000. 138500. 168500. 112000. 127000.
 109008. 197000. 245500. 171900. 162000. 128000. 173000. 132000. 118000.
 235128. 118964. 260000. 116000. 185000. 315750. 236500. 140000. 151500.
 184000.  84000. 130000. 154000. 205000. 110000. 151500. 123000. 129500.
 173900. 181500. 165500. 106500. 184900.  84500. 377500. 118500. 180000.
 190000. 208500. 181000.  98000. 157000. 151500.  84000. 139000. 100000.
 161750. 165600. 116000. 118500. 187000. 147000. 112000. 132000. 230000.
 128000. 147000. 125000. 145000. 151000. 284000. 221000. 140200. 129000.
 290000. 105000.  96500. 310000. 140000. 132000. 203000. 221000. 215200.
 214000. 139000.  91500. 148000. 155000. 115000. 180000. 165500. 223000.
 139000. 179900. 150000. 185000. 163000. 176000. 127000. 227000. 146000.
  99900. 275000. 180500. 180000. 157000. 186500. 179900. 137500. 219500.
 155000. 345000. 197000. 205000. 159000. 159434. 156000. 196000. 252678.
 255500. 213000. 150900. 143750. 139000. 260000. 189000. 213250. 207500.
  80000. 221000. 109500. 155000. 165000. 149350. 204900. 105900. 155000.
 176000. 395000. 149700. 147000. 143900. 226700. 176000. 116000. 325300.
 133750. 188500. 148500. 284000. 201800.]

In [55]:
print(val_y.head())

258     231500
267     179500
288     122000
649      84500
1233    142000
Name: SalePrice, dtype: int64

In [64]:
# calculate the mean absolute error in validation data
from sklearn.metrics import mean_absolute_error

val_mae = mean_absolute_error(val_predictions, val_y)
print("decision tree mae: ", val_mae)

decision tree mae:  29652.931506849316

Controlling overfitting/underfitting using MAE

In [57]:
def calc_mae(max_leaf_nodes, train_x, val_x, train_y, val_y):
    model = DecisionTreeRegressor(max_leaf_nodes = max_leaf_nodes, random_state = 0)
    model.fit(train_x, train_y)
    
    predict_val = model.predict(val_x)
    mae = mean_absolute_error(predict_val, val_y)
    
    return mae

In [58]:
# compare different tree sizes
possible_max_leaf_nodes = [5, 25, 50, 100, 250, 500]
for leaf in possible_max_leaf_nodes:
    mae = calc_mae(leaf, train_x, val_x, train_y, val_y)
    print("max leaf node: %d \t\t MAE: %d" %(leaf, mae))

max leaf node: 5 		 MAE: 35044
max leaf node: 25 		 MAE: 29016
max leaf node: 50 		 MAE: 27405
max leaf node: 100 		 MAE: 27282
max leaf node: 250 		 MAE: 27893
max leaf node: 500 		 MAE: 29454

The most optimal tree size: 100

### >> -- Final Model -- <<
Now that we have validated the data and found an adequate tree size for the model, let's use all of the data and keeping that tree size.

In [59]:
max_tree_size = 100
final_iowa_model = DecisionTreeRegressor(max_leaf_nodes = max_tree_size, random_state = 1)
final_iowa_model.fit(x, y)

DecisionTreeRegressor(max_leaf_nodes=100, random_state=1)

### >> -- Random Forest -- <<
To improve model performance, let's implement a random forest instead of a decision tree.

In [62]:
from sklearn.ensemble import RandomForestRegressor

iowa_forest_model = RandomForestRegressor(random_state = 1)
iowa_forest_model.fit(train_x, train_y)

iowa_prediction = iowa_forest_model.predict(val_x)
print("random forest mae: ", mean_absolute_error(iowa_prediction, val_y))

random forest mae:  21857.15912981083

Note: Compared to the decision tree's error of __29652__, the random forest's error is much better with a mae of __21857__!